@font-face {
  font-family: 'nb-icon';
  src: url('../fonts/nb-icon.eot');
  src: url('../fonts/nb-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/nb-icon.woff') format('woff'), url('../fonts/nb-icon.ttf') format('truetype'), url('../fonts/nb-icon.svg#nb-icon') format('svg');
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nb-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow:before {
  content: '\e626';
}
